

.main{

    height: 100%;
    width: 100%;
    background-color:#005C78;
    margin: auto;
    border: 1px solid rgb(128, 63, 63) ;
}
.nav{
    height: 20%;
    text-transform: uppercase;
    font-family: "Lucida Console", "Courier New", monospace;
}
#head{
    color:lightsalmon;
    font-size: 40px;
    text-align: center;
}
.inner{
    height: 80%;
    width: 100%;
    display: flex;
  
}
.one{
    height: 100%;
    width: 60%;
    background-image: linear-gradient(to right, rgb(40, 43, 228), rgb(255, 255, 255));
    

}
#fitness{
    font-size: 30px;
    color: white;
    margin-top: 5%;
    margin-left: 10%;
}
#gym{
    font-size: 45px;
    margin-left: 10%;
    color: rgb(241, 105, 56);
}
#smart{
    color: white;
    margin-left: 10%;
}
#best{
    font-size: x-large;
    color: aqua;
    margin-left: 10%;
}
button{
    height: 20%;
    width: 15%;
    margin-left: 10%;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 2%;
    background-color: rgb(238, 226, 122);
    
}
button:hover {
    background-color:darkgrey;
}
a{
    font-size: large;
    margin-left: 10%;
    color: blue;
    text-decoration: none;

}

.two{
    width: 40%;
    background-image: url(https://img.freepik.com/premium-vector/fitness-lifestyle-cute-doodle-set-with-lettering-funny-cartoon-strong-man-healthy-food-hand-drawn-flat-illustration_175690-74.jpg);
    background-size: cover;
}
.footer{
    height: 15%;
    width: 100%;
    text-align: center;
}
.first{
    height: 40%;
    width: 100%;
    color:white;
}
.second{
    height: 60%;
    width: 13%;
    margin-left: 43%;
    display: flex;
    justify-content:space-between ;
    margin-bottom: 1%;

}

#icn{
    height: 100%;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:white;
}

